.playground {
  width: 50%;
  height: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

button.start {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.ball {
  background-color: black;
  box-shadow: 0 10px 10px -6px;
  position: relative;
  height: 50px;
  width: 50px;
  border-radius: 25px;
}
